<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
        <title>Kopt the chat bot</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
       <body>
            <form action="/" method="POST">
                <div class="row">
                    <div class="col-md-4">
                    {% if reply %}
                        <input type='text' name="msg" class="form-control">
                        <button class="btn btn-success"> Enter </button>
                        <input readonly class="form-control" value="{{reply}}"> 
                    {% else %}
                        <input type='text' name="msg" value='Hello world' class="form-control">
                        <button class="btn btn-success"> Enter </button>
                    {% endif %}
                    </div>
                </div> 
        </body>
</html>
